
@{
    ViewData["Title"] = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Empleados</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-success boton-nuevo-empleado" data-toggle="modal" data-target="#modalData"><i class="fas fa-plus-circle"></i> Nuevo Empleado</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tablaEmpleados" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Cedula</th>
                            <th>Telefono</th>
                            <th>Cargo</th>
                            <th>Eliminado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
    
<!-- Button trigger modal -->


    <!-- Modal -->
<div class="modal fade" id="modalEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control" id="txtNombre" autocomplete="off">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Numero de Cedula</label>
                    <input type="text" class="form-control" id="txtCedula" >
                </div>

                <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input type="number" class="form-control" id="txtTelefono" >
                </div>


                <div class="mb-3">
                    <label class="form-label">Cargo</label>
                    <select class="form-select" id="cboCargo">
                        <option value="Tramitador">Tramitador</option>
                        <option value="Gestor">Gestor</option>
                    </select>
                </div>

                
                


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary boton-guardar-cambios-empleado">Guardar</button>
            </div>
        </div>
    </div>
</div>



    @section Scripts
        {
        
        <!-- ============================================================
        =SCRIPTS PARA ESTA PAGINA
        ===============================================================-->
        <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

        <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
        <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
        <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
        <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

        <script src="~/js/vistas/empleado/index.js"></script>

        <!-- SOLO ES DE EJEMPLO - IGNORAR -->
        <script src="~/js/vistas/datatables-demo.js"></script>
    }

