
@{
    ViewData["Title"] = "Polizas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Polizas</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-success boton-nuevo-poliza" data-toggle="modal" data-target="#modalData"><i class="fas fa-plus-circle"></i> Nueva Poliza</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tablaPoliza" cellspacing="0" style="width:100%">
                    <thead>
                        <th>ID</th>
                        <th>Aseguradora</th>
                        <th>Tipo</th>
                        <th>Codigo</th>
                        <th></th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <!-- Modal -->
<div class="modal fade" id="modalPoliza" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Poliza</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label class="form-label">Aseguradora</label>
                    <select class="form-select" id="cboAseguradora">
                        <option value="SEGUROS AMERICA">SEGUROS AMERICA</option>
                        <option value="BANCO LAFISE">BANCO LAFISE</option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Tipo</label>
                    <select class="form-select" id="cboTipo">
                        <option value="RCO">RCO</option>
                        <option value="FULL COVER">FULL COVER</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Codigo</label>
                    <input type="text" class="form-control" id="txtCodigo" >
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary boton-guardar-cambios-poliza">Guardar</button>
            </div>
        </div>
    </div>
</div>


    @section Scripts
        {
        <!-- ============================================================
        =SCRIPTS PARA ESTA PAGINA
        ===============================================================-->
        <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

        <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
        <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
        <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
        <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

        <!-- SOLO ES DE EJEMPLO - IGNORAR -->
        <script src="~/js/vistas/datatables-demo.js"></script>
        <script src="~/js/vistas/poliza/index.js"></script>
    }
